{% extends 'book/base.html' %}

{% block title %}Travel Destinations - Tour{% endblock %}

{% block content %}

{% load static %}

  <main class="main">
     <!-- Page Title -->
    <div class="page-title dark-background" data-aos="fade">
      
    </div><!-- End Page Title -->

    <!-- Travel Destinations Section -->
    <section id="travel-destinations" class="travel-destinations section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2>Uncover Captivating Travel Experiences</h2>
            <p class="mb-5">From the bustling energy of cosmopolitan cities to the serene embrace of untouched wilderness, embark on incredible journeys to the planet's most enchanting destinations. We're here to help you craft memories that will last a lifetime.</p>
          </div>
        </div>

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">
          <ul class="destination-filters isotope-filters" data-aos="fade-up" data-aos-delay="200">
            <li data-filter="*" class="filter-active">All Locales</li>
            <li data-filter=".filter-tropical">Tropical</li>
            <li data-filter=".filter-mountain">Alpine</li>
            <li data-filter=".filter-urban">Cityscapes</li>
            <li data-filter=".filter-historical">Heritage</li>
            <li data-filter=".filter-coastal">Seaside</li>
          </ul><!-- End Destination Filters -->



    <div class="section-header">
      <h2>Destinations</h2>
      <p>Explore our top destinations</p>
    </div>

    <div class="row gy-4 isotope-container">

      {% for destination in destinations %}
      <div class="col-lg-4 col-md-6 destination-item isotope-item">
        <a href="#" class="destination-tile">
          <div class="tile-image">
            {% if destination.image %}
            <img src="{{ destination.image.url }}" alt="{{ destination.name }}" class="img-fluid" loading="lazy">
            {% else %}
            <img src="{% static 'assets/img/default.jpg' %}" alt="{{ destination.name }}" class="img-fluid" loading="lazy">
            {% endif %}
            <div class="overlay-content">
              <span class="destination-tag luxury">{{ destination.tag }}</span>
              <div class="destination-info">
                <h4>{{ destination.name }}</h4>
                <p>{{ destination.description }}</p>
                <div class="destination-stats">
                  <span class="tours-available"><i class="bi bi-map"></i> {{ destination.excursions }} Excursions</span>
                  <span class="starting-price">From ${{ destination.starting_price }}</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
      {% empty %}
      <p>No destinations available yet.</p>
      {% endfor %}

    </div>
  </div>


    </section>

  </main>

{% endblock %}